python-dotenv
fastapi
uvicorn
langchain-openai
langchain-core
sqlalchemy
pymysql
cryptography
mcp
fastmcp
lark-oapi
langchain-ollama
langchain-text-splitters
langchain-experimental
pymilvus==2.5.11
pymilvus.model==0.3.2
jieba
torch
nltk
httpx
pypdf